<section class="activity">
    <div class="container activity-format">
        <div class="row">
            <div class="col"><h2>Формат заходу</h2></div>
        </div>
        <div class="row justify-content-between activity-container">
            <div class="col-sm-4 d-flex align-items-center flex-column d-lg-block mb-4 mb-sm-0">
                <div class="activity-format__item"><span>Ранок</span></div>
                <p>Зранку можна відвідати один з видів ранкової зарядки. Після сніданку відбувається перша секція
                    майстер-класів - 2,5год (паралельно 10-15 м-к, з яких ви обираєте, що подобається).</p></div>
            <div class="col-sm-4 d-flex align-items-center flex-column d-lg-block mb-4 mb-sm-0">
                <div class="activity-format__item"><span>Денний<br>час</span></div>
                <p>В обідню перерву відбуваються різні інтерактиви. Післяобідня секція майстер-класів (вона є довшою
                    і більш поглибленою) - 4 год.</p></div>
            <div class="col-xl-3 col-sm-4 d-flex align-items-center flex-column d-lg-block">
                <div class="activity-format__item"><span>Вечір</span></div>
                <p>Вечірня програма - після вечері і кожний день вона різна</p></div>
        </div>
    </div>
</section>