<section class="aura">
    <div class="container">
        <div class="row">
            <div class="col text-center"><h2>{{ site.data.atmosfera.title }}</h2></div>
        </div>
        <div class="row justify-content-lg-between justify-content-center no-gutters">
            <div class="col-lg-auto col-sm-6 aura__item aura__item-1"><img src="img/aura-item-1.jpg" srcset="img/aura-item-1.jpg 1x, img/aura-item-1@2x.jpg 2x" alt="">
                <p>{{ site.data.atmosfera.item-description-1 }}</p></div>
            <div class="col-lg-auto col-sm-6 aura__item aura__item-2"><img src="img/aura-item-2.jpg" srcset="img/aura-item-2.jpg 1x, img/aura-item-2@2x.jpg 2x" alt="">
                <p>{{ site.data.atmosfera.item-description-2 }}</p></div>
            <div class="col-lg-auto col-sm-6 aura__item aura__item-3"><img src="img/aura-item-3.jpg" srcset="img/aura-item-3.jpg 1x, img/aura-item-3@2x.jpg 2x" alt="">
                <p>{{ site.data.atmosfera.item-description-3 }}</p></div>
            <div class="col-lg-auto col-sm-6 aura__item aura__item-4"><img src="img/aura-item-4.jpg" srcset="img/aura-item-4.jpg 1x, img/aura-item-4@2x.jpg 2x" alt="">
                <p>{{ site.data.atmosfera.item-description-4 }}</p></div>
            <div class="col-lg-auto col-sm-6 aura__item aura__item-5"><img src="img/aura-item-5.jpg" srcset="img/aura-item-5.jpg 1x, img/aura-item-5@2x.jpg 2x" alt="">
                <p>{{ site.data.atmosfera.item-description-5 }}</p></div>
        </div>
    </div>
</section>