<section class="faq">
    <div class="container">
        <div class="row">
            <div class="col"><h2>{{ site.data.pytannya.title }}</h2></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul class="accordion">
                    {% for item in site.data.pytannya.items.first-part %}
                        <li>
                            <div><span>{{ item.title }}</span></div>
                            <p>{{ item.description }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="accordion">
                    {% for item in site.data.pytannya.items.second-part %}
                        <li>
                            <div><span>{{ item.title }}</span></div>
                            <p>{{ item.description }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>