<section class="features">
    <div class="container features__container">
        <div class="row text-center">
            <div class="col"><h2>{{ site.data.5-nai.title }}</h2></div>
        </div>
        <div class="row justify-content-between align-items-start">
            <div class="col-lg-auto features__item features__item-1">
                <div class="order-1 order-lg-0"><h3>{{ site.data.5-nai.item-title-1 }}</h3>
                    <p>{{ site.data.5-nai.item-description-1 }}</p></div>
                <div class="flex-shrink-0 flex-lg-shrink-1"><img src="img/features-item-1.svg"></div>
            </div>
            <div class="col-lg-auto features__item features__item-2">
                <div class="flex-shrink-0 flex-lg-shrink-1"><img src="img/features-item-2.svg"></div>
                <div><h3>{{ site.data.5-nai.item-title-2 }}</h3>
                    <p>{{ site.data.5-nai.item-description-2 }}</p></div>
            </div>
        </div>
        <div class="row justify-content-between align-items-start">
            <div class="col-lg-auto features__item features__item-3">
                <div class="order-1 order-lg-0"><h3>{{ site.data.5-nai.item-title-3 }}</h3>
                    <p>{{ site.data.5-nai.item-description-3 }}</p></div>
                <div class="flex-shrink-0 flex-lg-shrink-1"><img src="img/features-item-3.svg"></div>
            </div>
            <div class="col-lg-auto features__item features__item-4">
                <div class="flex-shrink-0 flex-lg-shrink-1"><img src="img/features-item-4.svg"></div>
                <div><h3>{{ site.data.5-nai.item-title-4 }}</h3>
                    <p>{{ site.data.5-nai.item-description-4 }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-auto features__item features__item-5">
                <div class="flex-shrink-0 flex-lg-shrink-1"><img src="img/features-item-5.svg"></div>
                <div><h3>{{ site.data.5-nai.item-title-5 }}</h3>
                    <p>{{ site.data.5-nai.item-description-5 }}</p>
                </div>
            </div>
        </div>
    </div>
</section>