<section class="gallery" id="gallery">
    <div class="gallery__container">
        <a class="gallery__item d5" href="img/gallery/{{ site.data.galereya.img-1 }}" data-fancybox="gallery">
            <img src="img/gallery/{{ site.data.galereya.img-1-thumb }}" alt="">
        </a>
    </div>
    <div class="gallery__container">
        <div class="gallery__line-1">
            <a class="gallery__item d1" href="img/gallery/{{ site.data.galereya.img-2 }}" data-fancybox="gallery">
                <img src="img/gallery/{{ site.data.galereya.img-2-thumb }}" alt="">
            </a>
            <a class="gallery__item d3" href="img/gallery/{{ site.data.galereya.img-3 }}" data-fancybox="gallery">
                <img src="img/gallery/{{ site.data.galereya.img-3-thumb }}" alt="">
            </a>
            <a class="gallery__item d5" href="img/gallery/{{ site.data.galereya.img-4 }}" data-fancybox="gallery">
                <img src="img/gallery/{{ site.data.galereya.img-4-thumb }}" alt="">
            </a>
        </div>
        <div class="gallery__line-2">
            <a class="gallery__item d2" href="img/gallery/{{ site.data.galereya.img-5 }}" data-fancybox="gallery">
                <img src="img/gallery/{{ site.data.galereya.img-5-thumb }}" alt="">
            </a>
            <a class="gallery__item d4" href="img/gallery/{{ site.data.galereya.img-6 }}" data-fancybox="gallery">
                <img src="img/gallery/{{ site.data.galereya.img-6-thumb }}" alt="">
            </a>
            <a class="gallery__item d3" href="img/gallery/{{ site.data.galereya.img-7 }}" data-fancybox="gallery">
                <img src="img/gallery/{{ site.data.galereya.img-7-thumb }}" alt="">
            </a>
            <a class="gallery__item d1" href="img/gallery/{{ site.data.galereya.img-8 }}" data-fancybox="gallery">
                <img src="img/gallery/{{ site.data.galereya.img-8-thumb }}" alt="">
            </a>
        </div>
    </div>
    <div class="gallery__container">
        <a class="gallery__item" href="img/gallery/{{ site.data.galereya.img-9 }}" data-fancybox="gallery">
            <img src="img/gallery/{{ site.data.galereya.img-9-thumb }}" alt="">
        </a>
    </div>
    <div class="gallery__slider-container">
        <div class="gallery__slider">
            <div class="gallery__slider-item"><img src="img/gallery/{{ site.data.galereya.img-1 }}"></div>
            <div class="gallery__slider-item"><img src="img/gallery/{{ site.data.galereya.img-2 }}"></div>
            <div class="gallery__slider-item"><img src="img/gallery/{{ site.data.galereya.img-3 }}"></div>
            <div class="gallery__slider-item"><img src="img/gallery/{{ site.data.galereya.img-4 }}"></div>
            <div class="gallery__slider-item"><img src="img/gallery/{{ site.data.galereya.img-5 }}"></div>
            <div class="gallery__slider-item"><img src="img/gallery/{{ site.data.galereya.img-6 }}"></div>
            <div class="gallery__slider-item"><img src="img/gallery/{{ site.data.galereya.img-7 }}"></div>
            <div class="gallery__slider-item"><img src="img/gallery/{{ site.data.galereya.img-8 }}"></div>
            <div class="gallery__slider-item"><img src="img/gallery/{{ site.data.galereya.img-9 }}"></div>
        </div>
        <div class="gallery__slider-arrow gallery__slider-arrow_next"><span></span></div>
        <div class="gallery__slider-arrow gallery__slider-arrow_prev"><span></span></div>
    </div>
</section>