<section class="gallery" id="gallery">
    <div class="gallery__container">
        <a class="gallery__item d5" href="img/gallery/img-1.jpg" data-fancybox="gallery">
            <img src="img/gallery/thumbnail-1.jpg" alt="">
        </a>
    </div>
    <div class="gallery__container">
        <div class="gallery__line-1">
            <a class="gallery__item d1" href="img/gallery/img-2.jpg" data-fancybox="gallery">
                <img src="img/gallery/thumbnail-2.jpg" alt="">
            </a>
            <a class="gallery__item d3" href="img/gallery/img-3.jpg" data-fancybox="gallery">
                <img src="img/gallery/thumbnail-3.jpg" alt="">
            </a>
            <a class="gallery__item d5" href="img/gallery/img-4.jpg" data-fancybox="gallery">
                <img src="img/gallery/thumbnail-4.jpg" alt="">
            </a>
        </div>
        <div class="gallery__line-2">
            <a class="gallery__item d2" href="img/gallery/img-5.jpg" data-fancybox="gallery">
                <img src="img/gallery/thumbnail-5.jpg" alt="">
            </a>
            <a class="gallery__item d4" href="img/gallery/img-6.jpg" data-fancybox="gallery">
                <img src="img/gallery/thumbnail-6.jpg" alt="">
            </a>
            <a class="gallery__item d3" href="img/gallery/img-7.jpg" data-fancybox="gallery">
                <img src="img/gallery/thumbnail-7.jpg" alt="">
            </a>
            <a class="gallery__item d1" href="img/gallery/img-8.jpg" data-fancybox="gallery">
                <img src="img/gallery/thumbnail-8.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="gallery__container">
        <a class="gallery__item" href="img/gallery/img-9.jpg" data-fancybox="gallery">
            <img src="img/gallery/thumbnail-9.jpg" alt="">
        </a>
    </div>
    <div class="gallery__slider-container">
        <div class="gallery__slider">
            <div class="gallery__slider-item"><img src="img/gallery/img-1.jpg"></div>
            <div class="gallery__slider-item"><img src="img/gallery/img-2.jpg"></div>
            <div class="gallery__slider-item"><img src="img/gallery/img-3.jpg"></div>
            <div class="gallery__slider-item"><img src="img/gallery/img-4.jpg"></div>
            <div class="gallery__slider-item"><img src="img/gallery/img-5.jpg"></div>
            <div class="gallery__slider-item"><img src="img/gallery/img-6.jpg"></div>
            <div class="gallery__slider-item"><img src="img/gallery/img-7.jpg"></div>
            <div class="gallery__slider-item"><img src="img/gallery/img-8.jpg"></div>
            <div class="gallery__slider-item"><img src="img/gallery/img-9.jpg"></div>
        </div>
        <div class="gallery__slider-arrow gallery__slider-arrow_next"><span></span></div>
        <div class="gallery__slider-arrow gallery__slider-arrow_prev"><span></span></div>
    </div>
</section>